absl-py==0.9.0
backports.weakref==1.0.post1
bleach==1.5.0
enum34==1.1.6
funcsigs==1.0.2
futures==3.3.0
grpcio==1.27.2
html5lib==0.9999999
Markdown==2.6.11
mock==3.0.5
numpy==1.14.0
Pillow==5.0.0
protobuf==3.5.1
six==1.11.0
tensorboard==1.14.0
tensorflow==1.4.0
tensorflow-tensorboard==0.4.0rc3
utils==0.9.0
Werkzeug==0.14.1
